* {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

.main {
  padding-top: 70px;
}

h2, h4 {
  padding: 10px 0px;
  display: block;
}

.flex-container {
  display: flex;
}

/* HEADER AND NAVIGATION */

#logo {
  padding-top: 10px;
  padding-left: 10px;
  height: 50px;
}

header {
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 10;
}

nav {
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav span {
  text-decoration: underline;
  padding: 20px 15px;
}

nav span a {
  color: inherit;
}

/* OUR MISSION */

.mission {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  z-index: 0;
  text-align: center;
}

.banner {
  width: 100%;
}

/* TEA OF THE MONTH */

.shop {
  display: block;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
}

.items {
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 70px;
}

.item {
  padding: 20px 15px;
}

.item img {
  height: 200px;
  width: 300px;
}

.item span {
  display: block;
  padding-top: 10px;
}
/* LOCATIONS */

.locations {
  height: 500px;
  width: 1200px;
  background-image: url('../images/img-locations-background.jpg');
  margin: 0 auto;
}

.locations h2 {
  text-align: center;
  background-color: transparent;
  padding-top: 70px;
}

.location-tiles {
  justify-content: space-around;
  align-content: center;
  background-color: transparent;
}

.location-tile {
  width: 300px;
  margin: 15px 20px;
  text-align: center;
  padding: 40px 0px;
  opacity: 1;
}
/* CONTACT */
.contact {
  padding-top: 15px;
  margin: 0 auto;
  text-align: center;
}

h5 {
  margin: 30px auto;
}
/* COPYRIGHT */
#copyright {
  text-align: left;
}
