* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

#logo {
  padding-top: 10px;
  padding-left: 10px;
  height: 50px;
}

header {
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
}

nav {
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav span {
  text-decoration: underline;
  padding: 20px 15px;
}
